h1 {
    color: blueviolet;
    font-size: 500%;
}

p {
    background-color: rgb(red, green, rgba(42, 133, 82, 0.5));
    font-family: 'Playwryte US Trade';
  font-style: normal;
  font-weight: weight;
 }
